.card {
  background-color: #2c3e50;

  h2, h5 {
    color: #ecf0f1;
  }

  .btn {
    font-weight: 500;

    &:hover {
      opacity: 0.85;
    }
  }

  .btn-warning {
    background-color: #f39c12;
    border: none;

    &:hover {
      background-color: #e67e22;
    }
  }

  .btn-secondary {
    background-color: #34495e;
    border: none;
    color: #ecf0f1;

    &:hover {
      background-color: #3c566e;
    }
  }
}
